/* Description: Styling for the Checkout Form component - Stripe */

.checkout-form-btn-custom {

  background-color: #3f3768;
  color: white;
}

.checkout-form-btn-custom:hover {

  background-color: #3f3768;
  color: white;
  box-shadow: 0 0 0 0.1rem #3f3768;
}
