/* Description: Styling for the App */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

body {
  height: 100%; 
  background-image: url('./images/background.jpg'); /* Photo by Alyssa Hurley from Unsplash */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

