body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kelly Slab';
  src: local('KellySlab-Regular'), url(./fonts/Kelly_Slab/KellySlab-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Regular'), url(./fonts/Merriweather/Merriweather-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Karma';
  src: local('Karma-Regular'), url(./fonts/Karma/Karma-Regular.ttf) format('ttf');
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

Link {
  text-decoration: none;
  color: #000;
}