/* Description: Styling for the Checkout component */

.checkout-cart {
  display: flex;
  height: 100%;
  width: 100%;
}

.checkout-products {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 200px); ---- see inline styling */
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */ 
.checkout-products::-webkit-scrollbar {
  display: none;
}

.checkout-form {
  width: 100%;
  padding-top: 20px;
}

.checkout-scroll-arrow {
  position: absolute;
  transition: all 0.5s linear;
  cursor: pointer;
  z-index: 1;
}
