/* Description: Styling for the Checkout component */

.checkout-cart-box {
  display: flex;
  height: 100%;
  width: 100%;
}

.checkout-product-box {
  width: 50%;
  height: calc(100vh - 200px);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */ 
.checkout-product-box::-webkit-scrollbar {
  display: none;
}

.checkout-box {
  width: 50%;
}
