 /* Description: Styling for the Navigation component */

.navigation-navbar {
  background-color: #e9e3c7 !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.541);
}

.navigation-navbar-brand {
  font-size: 1.7em;
  font-family: 'Kelly Slab';
  color: #185a4a;
  font-weight: bold;
}

.navigation-navbar-brand:hover {
  color: #185a4a;
}

.navigation-offcanvas-header {
  background-color: #e9e3c7;
}

.navigation-btn-checkout {
  font-size: 1.5em;
  font-family: 'Kelly Slab';
}

.navigation-nav-dropdown-title {
  color: #4e483e;
}

.navigation-nav-dropdown-title:hover {
  color: rgb(7, 6, 6);
}

.navigation-link {
  color: #4e483e;
  font-weight: 400;
  text-decoration: inherit;
}

.navigation-link:hover {
  color: #000;
}

.navigation-link-dropdown {
  display: inline-block;
  width: 100%;
  color: #000;
  text-decoration: inherit;
  padding: 5px 0 5px 15px;
}

.navigation-link-dropdown:hover {
  color: #000;
  background-color: #e9ecef;
}

.navigation-link-dropdown:active {
  color: #fff;
  background-color: #007bff;
}
