/* Description: Styling for the Navigation component */

.logo-img {
  width: 60px;
}

.navbar {
  background-color: #e9e3c7 !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.541);
}

.navbar-brand {
  font-size: 1.7em;
  font-family: 'Kelly Slab';
  color: #185a4a;
  font-weight: bold;
}

.offcanvas-header {
  background-color: #e9e3c7;
}

.btn-checkout {
  font-size: 1.5em;
  font-family: 'Kelly Slab';
}
